@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

/*general styling*/
* {
	margin: 0;
	padding: 0;
	font-family:'Lato',Helvetica, sans-serif;

	}

body {
	color: white;
}

.container {
	display: block;
	display: absolute;
}

.alltitles{
	font-weight: bold;
	font-size: 2.5em;
}

.landing {
	position: absolute;
	/*background: url('background.png');*/
	background-color: #EA7972;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
}

/*the top cover css*/
.title {
	overflow: hidden;
	position: absolute;
	width: 100%;
	margin-top: 25%;
}

img.watch {
	width: 45%;
}

#topbar {
	margin: 3%;
}

#topbar h1 {
	font-weight: bold;
	font-size: 3.5em;
}

h3 {
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 100;
}

#topcover p {
	padding-left: 50%;
	position: relative
}

p#maintitle {
	margin: 10% 0 0 0;
}

p#subtitle {
	font-size: 2em;
	margin: 2% 0 0 0;
	width: 30%;
}

/*first cover*/
.content-container {
	position: absolute;
	top: 100%;
	display: block;
	width: 100%;
	background: #459e92;
}

img.video {
	position: relative;
	float: right;
	width: 50%;
}

.content {
	padding: 100px 150px 0;
}

.infotext {
    position: relative;
    font-size: 2em;
    margin-top: 2.5%;
    width: 40%;
}

.infotext p {
	margin-bottom: 3%;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	z-index: 1000;
}

.infotext .caption {
	float: right;
	margin: 1% 0;
	font-size: 0.8em;
}

/*second cover*/


#boxes {
	margin-top: 5%;
	width: 100%;
}

img.box {
	width: 33%;
	margin-top: 5%;
}

.textbox p{
	width: 240px;
	margin-top: 3%;
	float: right;
	text-align: center;
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 3%;
}

/* third section*/
.section2 {
	margin-top: 15%;
}


img.allthree{
	position: relative ;
	width: 100%;
	margin-top: 5%;
}


