body {
    margin: 0px;
}

a {
	text-decoration: none !important;
	color: #FF5D5B;
}

.container-fluid {
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bigtitle {
	font-family: 'Hammersmith One', Arial, sans-serif;
	font-size: 40px;
	text-align: right;
	color: #FF5D5B;
}

#lineintersect {
	background-color: #FF5D5B;
    position: relative;
    width: 300px;
    height: 30px;
    margin-left: 70px;
    top: -37px;
    z-index: 1;
}

.name {
	color: black;
	position: relative;
	z-index: 2;
	line-height: 28pt;
	}

.smalltitle {
	font-family: 'Hammersmith One', Arial, sans-serif;
	font-size: 20px;
	text-align: right;
	margin-bottom: -9px;
}

.titlecolumn {
	width: 350px;
    padding: 30px;
    position: fixed;
    margin-left: 100px;
    margin-top: 110px;
    z-index: 2;
}

.smalltext {
	font-family: 'Domine', georgia, times, serif;
	text-align: justify;
	margin-bottom: 20px;
	font-size: 14px;
    line-height: 1.42857143;
}

.insertbiohere.smalltext {
    display: none;
}

.note {
	font-family: 'Hammersmith One', Arial, sans-serif;
	font-size: 20px;
}

img.contacticon {
	width: 50px;
}

#links {
    text-align: center;
}

.col-ms-6 {
	background: #F8F8F8;
	padding: 130px;
	/*width: 520px;*/
	margin: 30px 0;

	position: relative;
	overflow: hidden;
}

img#logo {
	position: fixed;
	padding: 20px;	
	z-index: 3;
}

#work {
	float: right;
    margin-top: 20px;
    position: static;
    width: 60%;
}

.bio {
    width: 350px;
    position: fixed;
    bottom: 100px;
    padding: 30px;
    margin-left: 100px;
    height: auto;
    z-index: 10;
}

.footer {
	text-align: right;
	background-color: #FF5D5B; /*the pink*/
	padding: 7px;
	position: fixed;
	bottom: 0;
	z-index: 5;
	width: 100%;
}

#breakhere {
	display: none;
}

.smalltitle, .bigtitle, .bio {
   	transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;
}
.mongoimage {
	width: 70%;
}

.mongoimage, .frogimage, .azimoimage, 
.contactimage, .droneimage, .karmaimage, .nextimage, .criticalimage{
	z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: auto;
}
.centerthis {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 200px;
	padding-top: 10px;
}

#hand {
	position: absolute;
}

#azimo { 
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23bdbdbd' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
 }

#mongo {
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='40' viewBox='0 0 80 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.32' fill-rule='evenodd'%3E%3Cpath d='M2.01 39.976c.02-4.594 1.786-9.182 5.302-12.687.475-.475.97-.917 1.483-1.327v9.77L4.54 39.977H2.01zm5.374 0L23.842 23.57c.687 5.35-1.03 10.95-5.154 15.06-.483.482-.987.93-1.508 1.346H7.384zm-7.384 0c.018-5.107 1.982-10.208 5.89-14.104 5.263-5.247 12.718-6.978 19.428-5.192 1.783 6.658.07 14.053-5.137 19.296H0zm10.806-15.41c3.537-2.116 7.644-2.92 11.614-2.415L10.806 33.73v-9.164zM65.25.75C58.578-1.032 51.164.694 45.93 5.93c-5.236 5.234-6.962 12.648-5.18 19.32 6.672 1.782 14.086.056 19.32-5.18 5.236-5.234 6.962-12.648 5.18-19.32zM43.632 23.783c5.338.683 10.925-1.026 15.025-5.126 4.1-4.1 5.81-9.687 5.126-15.025l-20.15 20.15zm7.186-19.156c3.518-2.112 7.602-2.915 11.55-2.41l-11.55 11.55v-9.14zm-3.475 2.716c-4.1 4.1-5.81 9.687-5.126 15.025l6.6-6.6V6.02c-.51.41-1 .85-1.474 1.323zM.07 0C.066 1.766.29 3.533.75 5.25c6.672 1.782 14.086.056 19.32-5.18l.072-.07H.072zm17.087 0C13.25 3.125 8.345 4.386 3.632 3.783L7.414 0h9.743zM2.07 0c-.002.79.047 1.582.147 2.368L4.587 0H2.07z'/%3E%3C/g%3E%3C/svg%3E");
}

#frog {
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239f9f9f' fill-opacity='0.27'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#cs160 {
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bdbdbd' fill-opacity='0.32' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#iot {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cecece' fill-opacity='0.32' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

#nextdoor {
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23bdbdbd' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#contact {
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23bdbdbd' fill-opacity='0.32' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1300px) {
	.bio, .titlecolumn {
		margin-left: 40px;
	}
}

@media screen and (max-width: 1240px) {
	.bio, .titlecolumn {
		margin-left: 0;
	}
}

@media screen and (max-width: 1200px) {

	.smalltitle {
		font-size: 15px;
		margin-bottom: -4px;

		background-color: white;
    	color: black;
    	display: inline-block;
    	float: right;
    	padding: 5px;
    	border-style: solid;
	}

	.insertbiohere.smalltext {
    	max-width: 700px;
    	margin: 0 auto;
    	padding: 30px;
    	display: block;
	}	

	.bigtitle.werk  {
		font-size: 35px;

		background-color: #ff5d5b;
    	padding: 5px 9px;
    	margin-top: 7px;
    	color: white;
    	display: inline-block;
    	float: right;
    	z-index: 0;
	}

	.bio {
		display: none;
	}

	#work {
		width: 100%;
    	float: right;
	}

	.col-ms-6 {
		max-width: 100%;
		/*float: left;*/
	}


	img.contacticon {
		width: 30px;
	}
	.titlecolumn {
		margin-left: 0px;
		right: 0;
		width: auto;
	}

	#breakhere {
		display: block;
	}
}
@media screen and (max-height: 710px) {
	.titlecolumn {
		margin-left: 0px;
		right: 0;
		width: auto;
	}

	#breakhere {
		display: block;
	}

	.smalltitle {
		font-size: 15px;
		margin-bottom: -4px;

		background-color: white;
    	color: black;
    	display: inline-block;
    	float: right;
    	padding: 5px;
    	border-style: solid;
	}

	.bigtitle.werk {
		font-size: 35px;

		background-color: #ff5d5b;
    	padding: 5px 9px;
    	margin-top: 7px;
    	color: white;
    	display: inline-block;
    	float: right;
    	z-index: 0;
	}

@media screen and (max-height: 500px) {
	.bio {
		display: none;
	}

	.insertbiohere.smalltext {
    	max-width: 700px;
    	margin: 0 auto;
    	padding: 40px 30px;
    	display: block;
	}	

	img.contacticon {
		width: 30px;
	}

	#work {
		width: 100%;
    	margin: 0 auto;
	}

	.col-ms-6 {
		width: 100%;
	}


}
